<%= form_for resource do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(resource.errors.count, "error")} prohibited this #{resource_instance_name.to_s.downcase} from being saved:" %>
      </h2> 
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <legend>Group</legend>
    
    <p><%= f.label :parent %><br />
    <%= raw tree_select(resource, Group, resource.parent_id, :include_blank => true) %></p>
    
    <p><%= f.label :name %><br />
    <%= f.text_field :name %></p>
  </fieldset>
  <p><%= f.submit %></p>
<% end %>
